@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1400px) {}
@media only screen and (min-width: 1500px) {}
/* ANCHOR Navbar **************************************************************/

.fixedHeaderContainer a {
  margin-top: 16px;
  margin-bottom: 16px;
}

.navigationSlider .slidingNav ul {
  background-color: rgb(13, 8, 32);
  padding-top: 16px;
  padding-bottom: 16px;
}

/* ANCHOR Landing Screen  *****************************************************/

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48vh;
  background-color: rgb(13, 8, 32);
}

.projectTitle {
  color: rgb(219, 216, 231);
}

.button {
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgb(13, 8, 32);
  color: rgb(219, 216, 231);
  border: 1px solid rgb(219, 216, 231);
}

.button:hover {
  background-color: rgb(219, 216, 231);
  color: rgb(13, 8, 32);
}
